[user]
  email = blk@blk.me
  name = Brett Kleinschmidt

[alias]
  st = status --short
  ci = commit
  br = branch
  co = checkout
  ch = cherry-pick
  df = diff
  lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
  pushm = push origin master


